{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h5 class="landing-page-text">High quality handmade masks, with ViralOff technology designed to keep you safe.</h5>
            <a href="{% url 'products' %}">
                <h3 class="landing-page-button">Start Shopping</h3>
            </a>
        </div>
    </div>
</div> 

{% endblock %}