body, html {
    margin: 0;
    padding: 0;
}

.fixed-top {
    background-color: #fff;
}

body {
    background: url('/media/home_page_mask.png') no-repeat center center fixed;
    background-size: auto;
    background-color: #efebdf;
    height: 100vh;
}

.dropdown-menu {
    background-color: #efebdf;
}

.header-container {
    padding-top: 110px;
}

.card-img-top {
    max-height: 300px;
    min-height: 300px;
}

.card-text {
    max-height: 100px;
    min-height: 100px;
    overflow: scroll;
}

/* -- Code snippet from Boutique ado project */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}
