body, html {
    margin: 0;
    padding: 0;
}

body {
    background: url('/media/home_page_mask.png') no-repeat center center fixed;
    background-size: auto;
    background-color: #efebdf;
}

/* -- base.html navbar styling -- */

.dropdown-menu {
    background-color: #efebdf;
}

.dropdown-item:hover {
    background-color: #efebdf;
    font-weight: 500;
}

.fixed-top {
    background-color: #fff;
}

/* -- index.html styling -- */

.header-container {
    padding-top: 20vh;
}


/* -- mask_detail.html styling for showing individual product, snippets copied 
from a previous incomplete portfolio project of my own -- https://abel-portfolio-main.herokuapp.com/ */

.mask-info-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas:
    'mask-img mask-info'; 
    padding-top: 15vh;
}

.mask-img {
    display: grid;
    grid-area: mask-img;
    border: 1px dashed #04471C;
    text-align: center;
}

.mask-info {
    display: grid;
    grid-area: mask-info;
    border: 1px dashed #04471C;
}

/* -- products.html styling -- */ 

.product-page-title, h3 {
    text-align: center;
}

/* -- Cards rendered in products.html and mask_detail.html -- */ 

.card-img-top {
    max-height: 35vh;
    min-height: 35vh;
    max-width: 50vh;
    object-fit: scale-down; 
}

.card-text {
    max-height: 100px;
    min-height: 100px;
    overflow: scroll;
}


/* -- Code snippet from Boutique ado project used in products.html  */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}


/* -- mask image and info will be stacked on screensizes smaller than 767.98px 
on mask_detail.html  -- */

@media (max-width: 767.98px) { 
    .mask-info-container {
        display: block;
    }
} 